.App {
  text-align: center;
}

.Nav {
  width: 100%;
  margin: 16px auto;
  border-bottom: 3px solid silver;
  padding: 40px;
  text-align: center;
  background-color: plum;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.NavTitle {
  color: white;
  font-weight: bold;
  font-size: 40px;
}

.NavInstructions {
  color: white;
  font-size: 15px;
}